﻿@model PagedList.IPagedList<Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

<br />
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Home</a></li>
    <li class="active">@ViewBag.Category</li>    
</ol>
@foreach (var post in Model)
{
    <dl class="article dl-horizontal">
        <dt>
            <img src="@post.ThumbnailPath.Substring(1)" alt="thumbnail" class="img-responsive" />
        </dt>
        <dd>
            <h2>
                @Html.ActionLink(post.Title, "Post", "Home", new { title = post.GenerateSlug(), id = post.Id },
                htmlAttributes: new { @target = "_blank" })
            </h2>            
            <p>@post.Created</p>
            <blockquote>
                @post.Description
            </blockquote>
        </dd>
    </dl>
}

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "main" }))