﻿@model PagedList.IPagedList<Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
           
<h2>Latest posts</h2>
@foreach (var post in Model)
{    
    <dl class="article dl-horizontal">
        <dt>
            <img src="@post.ThumbnailPath.Substring(1)" alt="thumbnail" class="img-responsive" />
        </dt>
        <dd>
            <h2>
                @Html.ActionLink(post.Title, "Post", "Home", new { title = post.GenerateSlug(), id = post.Id }, null)
            </h2>
            <h4>@post.Category.Name</h4>
            <p>@post.Created</p>
            <blockquote>
                @post.Description
            </blockquote>
        </dd>
    </dl>
}


@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), 
    PagedListRenderOptions.ClassicPlusFirstAndLast)

        

