﻿@model IEnumerable<Post>

<h2>Results</h2>
@foreach (var post in Model)
{
    <dl class="article dl-horizontal">
        <dt>
            <img src="@post.ThumbnailPath.Substring(1)" alt="thumbnail" class="img-responsive" />
        </dt>
        <dd>
            <h2>
                @Html.ActionLink(post.Title, "Post", "Home", new { id = post.Id, title = post.GenerateSlug() }, null)
            </h2>
            <h4>@post.Category.Name</h4>
            <p>@post.Created</p>
            <blockquote>
                @post.Description
            </blockquote>
        </dd>
    </dl>
}
