﻿@model PagedList.IPagedList<Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = ViewBag.Category.Name;
}

<div class="row">
    <div class="col-md-9" id="main">
        <br/>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index")">Home</a></li>
            <li class="active">@ViewBag.Category.Name</li>
        </ol>
        @foreach (var post in Model)
        {
            <dl class="article dl-horizontal">
                <dt>
                    <img src="@post.ThumbnailPath.Substring(1)" alt="thumbnail" class="img-responsive"/>
                </dt>
                <dd>
                    <h2>
                        @Html.ActionLink(post.Title, "Post", "Home", new {title = post.GenerateSlug(), id = post.Id}, null)
                    </h2>
                    <p>@post.Created</p>
                    <blockquote>
                        @post.Description
                    </blockquote>
                </dd>
            </dl>
        }

        @Html.PagedListPager(Model, page => Url.Action("Category",
            new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}),
            PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    <div class="col-md-3">
        <h2>Categories</h2>
        <div class="list-group">
            @foreach (var category in ViewBag.Categories)
            {
                @Html.ActionLink((string) category.Name, "Category", "Home", new {id = category.Id},
                    htmlAttributes: new {@class = "list-group-item"})
            }
        </div>
    </div>
</div>
