﻿@model IEnumerable<Category>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<div class="row">
    <div class="col-md-9" id="main">
        @{ Html.RenderAction("Main", "Home"); }
    </div>
    <div class="col-md-3">
        <h2>Categories</h2>
        <div class="list-group">                        
            @foreach (var category in Model)
            {                    
                @Html.ActionLink(category.Name, "Category", new { id = category.Id, name = category.GenerateSlug() }, 
                    htmlAttributes: new { @class = "list-group-item" })
            }                            
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}