﻿@model BlogApplication.Comment
@{
    ViewBag.Title = ViewBag.Post.Title;
}

<div class="row">
    <div class="col-md-8">
        <br/>
        @{ string title = ViewBag.Post.Title; }
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index")">Home</a></li>
            <li>
                @Html.ActionLink((string) ViewBag.Post.Category.Name, "Category", new {id = ViewBag.Post.CategoryId}, null)
            </li>
            <li class="active">@title</li>
        </ol>

        <h1>@title</h1>
        <p>@ViewBag.Post.Created</p>
        <blockquote class="post-quote">
            @ViewBag.Post.Description
        </blockquote>
        <img src="@ViewBag.Post.ImagePath.Substring(1)" alt="cover" class="img-responsive"/>
        <br />        
        <div>
            @Html.Raw(@ViewBag.Post.Content)
        </div>
    </div>
    <div class="col-md-4">
        <h2>Comments</h2>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm(new { id = ViewBag.Post.Id }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary"/>                    
                </div>
            }            
        }
        else
        {
            @Html.ActionLink("Log in to comment post", "Login", "Account", routeValues: null,
               htmlAttributes: new { id = "loginLink", @class = "btn btn-lg btn-warning" })
        }


        @foreach (var comment in ViewBag.Comments)
        {
            <div class="comment">
                <p>
                    <b>@comment.UserId</b>
                </p>
                <p>@comment.Created</p>
                <hr />
                @Html.Raw(comment.Content)                
            </div>
        }
    </div>
</div>