﻿body {
    background-color: #f1f1f1;    
}

.navbar-inverse {
    background-color: #008080;
    border-color: #008080;    
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #008080;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.form-control {    
    border-radius: 0px;
    border: white;
}

.list-group-item {
    border-radius: 0px;
    border: 1px solid #dcdcdc;
}

h2 > a {
    color: #008080;
}

a.list-group-item {
    color: #008080;
}

.article {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 10px;
    border:1px solid #dcdcdc;
}

.comment {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #dcdcdc;
}

.dropdown-menu {
    min-width: 200px;
}

.navbar-inverse .navbar-brand {
    color: whitesmoke;
}

.navbar-inverse .navbar-nav > li > a {
    color: whitesmoke;
}

.breadcrumb {
    border-radius: 1px;
    border: 1px solid #dcdcdc;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dcdcdc;
    margin: 1em 0;
    padding: 0; 
}

blockquote {
    display: block;
    border-left: 5px solid gray;
    color: gray;
}

.breadcrumb {
    background-color: white;
}

.btn {
    border-radius: 1px;
}