﻿@model BlogApplication.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@if (ViewBag.Posts)
{
    <h3>Cannot remove this category as there are posts related to this category. Make sure those posts are safely removed first.</h3>
}
else
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
}
