﻿@model IEnumerable<Comment>

@{
    ViewBag.Title = "Index";
}

@if (Model.Any())
{
    <h2>Post: @Model.First().Post.Title</h2>
}
else
{
    <h2>Post: </h2>
}
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            Comment
        </th>   
        <th>@Html.DisplayNameFor(model => model.Created)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>                                
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

